* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.jatekter {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
}

.elem {
    border: 1px solid navy;
    line-height: 30px;
}

p {
    border: 1px solid red;
    text-align: center;
    height: 100%;
}